@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* ROTATION  */

@keyframes rotateNinetyAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.rotateNinety {
  animation-name: rotateNinetyAnimation;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes rotateNinetyToDefaultAnimation {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotateNinetyToDefault {
  animation-name: rotateNinetyToDefaultAnimation;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

/* SPIN */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
