:root,
.theme--light {
  --color--white-100: #ffffff;
  --color--alabaster-100: #f8f8f8;
  --color--concrete-100: #f3f3f3;
  --color--lightgrey-100: lightgrey;

  --color--black-100: #000000;
  --color--black-80: #444444;
  --color--black-60: #999999;
  --color--black-30: #aaaaaa;
  --color--black-10: #e6e6e6;

  --color--blue-0: #ffffff;
  --color--blue-10: #ecf6fd;
  --color--blue-20: #d8ecfb;
  --color--blue-30: #c5e3f9;
  --color--blue-40: #b1d9f7;
  --color--blue-50: #9ed0f5;
  --color--blue-60: #8bc7f2;
  --color--blue-70: #77bdf0;
  --color--blue-80: #64b4ee;
  --color--blue-90: #50aaec;
  --color--blue-100: #3da1ea;

  --color--green-0: #ffffff;
  --color--green-10: #eef9ee;
  --color--green-20: #def3de;
  --color--green-30: #cdeccd;
  --color--green-40: #bde6bd;
  --color--green-50: #ace0ac;
  --color--green-60: #9bda9b;
  --color--green-70: #8bd48b;
  --color--green-80: #7acd7a;
  --color--green-90: #6ac76a;
  --color--green-100: #59c159;

  --color--orange-0: #ffffff;
  --color--orange-10: #fff6ed;
  --color--orange-20: #feedda;
  --color--orange-30: #fee4c8;
  --color--orange-40: #fddbb5;
  --color--orange-50: #fdd2a3;
  --color--orange-60: #fcc990;
  --color--orange-70: #fcc07e;
  --color--orange-80: #fbb76b;
  --color--orange-90: #fbae59;
  --color--orange-100: #faa546;

  --color--red-0: #ffffff;
  --color--red-10: #fceeee;
  --color--red-20: #f8dcdc;
  --color--red-30: #f5cbcb;
  --color--red-40: #f1b9b9;
  --color--red-50: #eea8a8;
  --color--red-60: #eb9696;
  --color--red-70: #e78585;
  --color--red-80: #e47373;
  --color--red-90: #e06262;
  --color--red-100: #dd5050;
}
