/* BACKGROUND COLOR */

.container--background-color--primary {
  background-color: var(--color--blue-100);
}
.container--background-color--success {
  background-color: var(--color--green-100);
}
.container--background-color--warning {
  background-color: var(--color--orange-100);
}
.container--background-color--error {
  background-color: var(--color--red-100);
}
.container--background-color--white {
  background-color: var(--color--white-100);
}

/* RADIUS */

.container--radius--small {
  border-radius: 4px;
}

/* PADDING */

.container--padding--small {
  padding: 8px;
}
.container--padding--medium {
  padding: 16px;
}
.container--padding--large {
  padding: 32px;
}

.container--padding-left--small {
  padding-left: 8px;
}
.container--padding-left--medium {
  padding-left: 16px;
}
.container--padding-left--large {
  padding-left: 32px;
}

.container--padding-right--small {
  padding-right: 8px;
}
.container--padding-right--medium {
  padding-right: 16px;
}
.container--padding-right--large {
  padding-right: 32px;
}

.container--padding-top--small {
  padding-top: 8px;
}
.container--padding-top--medium {
  padding-top: 16px;
}
.container--padding-top--large {
  padding-top: 32px;
}

.container--padding-bottom--small {
  padding-bottom: 8px;
}
.container--padding-bottom--medium {
  padding-bottom: 16px;
}
.container--padding-bottom--large {
  padding-bottom: 32px;
}

/* MARGIN */
.container--margin--small {
  margin: 8px;
}
.container--margin--medium {
  margin: 16px;
}
.container--margin--large {
  margin: 32px;
}

.container--margin-right--small {
  margin-right: 8px;
}
.container--margin-right--medium {
  margin-right: 16px;
}
.container--margin-right--large {
  margin-right: 32px;
}

.container--margin-left--small {
  margin-left: 8px;
}
.container--margin-left--medium {
  margin-left: 16px;
}
.container--margin-left--large {
  margin-left: 32px;
}

.container--margin-top--small {
  margin-top: 8px;
}
.container--margin-top--medium {
  margin-top: 16px;
}
.container--margin-top--large {
  margin-top: 32px;
}

.container--margin-bottom--small {
  margin-bottom: 8px;
}
.container--margin-bottom--medium {
  margin-bottom: 16px;
}
.container--margin-bottom--large {
  margin-bottom: 32px;
}

/* DISPLAY */

.container--display--flex-column {
  display: flex;
  flex-direction: column;
}

.container--display--flex-row {
  display: flex;
  flex-direction: row;
}

/* GRID */

.container--grid--display {
  display: grid;
}
.container--grid--flow-column {
  grid-auto-flow: column;
}
.container--grid--flow-row {
  grid-auto-flow: row;
}
.container--grid--gap-small {
  gap: 8px;
}
.container--grid--gap-medium {
  gap: 16px;
}
.container--grid--gap-large {
  gap: 32px;
}
.container--grid--gap-xlarge {
  gap: 64px;
}
.container--grid--gap-xxlarge {
  gap: 128px;
}
.container--grid--gap-xxxlarge {
  gap: 254px;
}

/* JUSTIFY */

.container--justify-content--center {
  justify-content: center;
}
.container--justify-content--start {
  justify-content: start;
}
.container--justify-content--end {
  justify-content: end;
}
.container--justify-content--space-between {
  justify-content: space-between;
}
.container--justify-content--space-around {
  justify-content: space-around;
}
.container--justify-content--flex-start {
  justify-content: flex-start;
}
.container--justify-content--flex-end {
  justify-content: flex-end;
}

/* ALIGN */

.container--align-items--center {
  align-items: center;
}
.container--align-items--start {
  align-items: start;
}
.container--align-items--end {
  align-items: end;
}
.container--align-items--flex-start {
  align-items: flex-start;
}
.container--align-items--flex-end {
  align-items: flex-end;
}
.container--align-items--stretch {
  align-items: stretch;
}
.container--align-items--baseline {
  align-items: baseline;
}
