/* TODO REMOVE THIS LATER  */

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* COLORS */

.font--color--primary {
  color: var(--color--blue-100);
}
.font--color--success {
  color: var(--color--green-100);
}
.font--color--warning {
  color: var(--color--orange-100);
}
.font--color--error {
  color: var(--color--red-100);
}
.font--color--white {
  color: var(--color--white-100);
}

/* FILL */
.font--fill--primary {
  fill: var(--color--blue-100);
}
.font--fill--success {
  fill: var(--color--green-100);
}
.font--fill--warning {
  fill: var(--color--orange-100);
}
.font--fill--error {
  fill: var(--color--red-100);
}
.font--fill--white {
  fill: var(--color--white-100);
}

/* FONT SIZE */
.font--size--small {
  font-size: 0.75rem;
}
.font--size--medium {
  font-size: 1rem;
}
.font--size--large {
  font-size: 1.25rem;
}
.font--size--xlarge {
  font-size: 1.5rem;
}
.font--size--xxlarge {
  font-size: 2rem;
}
.font--size--xxxlarge {
  font-size: 3rem;
}

/* FONT WEIGHT */

.font--weight--regular {
  font-weight: regular;
}
.font--weight--bold {
  font-weight: 700;
}
